package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;

/**
 * {table.comment}--Service
 * 
 * @author {author}
 */
@Slf4j
@Service
@Transactional
public class ${table.entityName}Service extends BaseService<${table.entityName}Mapper, ${table.entityName}> {

    /**
     * 【1】查询和分页
     *
     * @param dto
     *
     * @return
     */
    public DataGrid<${table.entityName}Vo> list{_Sample}(${table.entityName}Dto4List dto) {
        log.info("【list查询条件--{table.comment}】{}", dto);

        // 【1】 处理模糊查询条件的like(有3个方法addObjectLike，addObjectLikeLeft，addObjectLikeRight)
        MyStringUtil.addObjectLike(dto, "{searchConditionsAddLike}");

        // 【2】 数据权限查询条件（需要时去掉注释，复杂的场景另需调整Mapper.xml中的SQL，注意表别名不要重复）
        /*
        dto = getDataAuthFliter(
                dto,                                //实现DataAuthFilter接口的DTO类实例
                getBizTableName(),                  //业务表名
                "a",                                //业务表别名，注意不要与其他JOIN的表别名重复
                "ORG_ID",                           //业务表【机构ID】字段名
                "CREATE_USER_ID",                   //业务表【用户ID】字段名
                "T_SYS_ORG",                        //机构表名
                "da",                               //机构表别名，注意不要与其他JOIN的表别名重复
                "ORG_ID",                           //机构表【机构ID】字段名
                "ORG_LEVEL_CODE"                    //机构表【机构层次代码】字段名
        );
        log.debug("dataAuthJoinSql=\n{}", dto.getDataAuthJoinSql());
        log.debug("dataAuthFilterSql=\n{}", dto.getDataAuthFilterSql());
        */
        // 【3】构造分页参数
        Page<${table.entityName}Vo> page = new Page<>(dto.getPageNo(), dto.getPageSize());

        return new DataGrid<${table.entityName}Vo>(this.getBaseMapper().get${table.entityName}List(page, dto), page.getTotal());
    }

    /**
     * 【2】新增--保存
     *
     * @param dto
     */
    public void save{_Sample}(${table.entityName}Dto4Save dto) {
        log.info("【新增--{table.comment}】{}", dto);

        // 【1】 从dto中copy属性
        ${table.entityName} ${table.entityName} = new ${table.entityName}();
        MyBeanUtil.copyPropertiesIgnoreNull(dto,${table.entityName});

        // 【2】 校验业务唯一性, 其中: 可变参数field1, field2, ..., fieldn 是实体类属性名.
        //if (checkBizUnique(${table.entityName}, true, field1, field2, ..., fieldn)) {
        //    throw new AppException("新增失败，{table.comment}【" + field1+"-"+field2+"-"+...+"-"+fieldn + "】已经存在！");
        //}

        ${table.entityName}.setVer(1);// 数据版本
        this.save(${table.entityName});
    }

    /**
     * 【3】修改
     *
     * @param dto
     */
    public void update{_Sample}(${table.entityName}Dto4Update dto) {
        log.info("【修改--{table.comment}】{}", dto);

        // 【1】 从dto中copy属性
        ${table.entityName} ${table.entityName} = new ${table.entityName}();
        MyBeanUtil.copyPropertiesIgnoreNull(dto,${table.entityName});

        // 【2】 校验业务唯一性, 其中: 可变参数field1, field2, ..., fieldn 是实体类属性名.
        //if (checkBizUnique(${table.entityName}, false, field1, field2, ..., fieldn)) {
        //    throw new AppException("更新失败，{table.comment}【" + field1+"-"+field2+"-"+...+"-"+fieldn + "】已经存在！");
        //}
        
        if (!this.updateById(${table.entityName})) {
            throw new AppException("更新失败，你修改的数据不是最新的，请刷新后重新操作！");
        }
    }

    /**
     * 【4】删除--多个id以逗号分隔
     *
     * @param {_sample}Ids
     */
    public void delete{_Sample}(String {_sample}Ids) {
        log.info("【删除--{table.comment}{}】", {_sample}Ids);

        // 【1】删除
        String[] {_sample}IdArray = StrUtil.splitToArray({_sample}Ids, ",");
        for (String {_sample}Id : {_sample}IdArray) {
            this.removeById({_sample}Id);
        }
    }

    /************* 【上面代码是基本的CRUD功能，新增的方法放在下面！Private方法放最底下】 *********************************************************************************************/

    /**
     * 【5】检查{_sample}Id是否存在
     *
     * @param {_sample}Id
     * @return
     */
    private boolean isExist{_Sample}Id(String {_sample}Id) {
        return this.getById({_sample}Id) != null;
    }

    /**
     * 【6】主键查询同时控制数据权限
     * @param id 主键
     * @return
     */
    public ${table.entityName}Vo get(String id) {
        log.info("【list查询条件--{table.comment}.id={}】", id);

        // 【1】 处理查询条件
        ${table.entityName}Dto4List dto = new ${table.entityName}Dto4List();
        dto.setId(id);

        // 【2】 数据权限查询条件（需要时去掉注释，复杂的场景另需调整Mapper.xml中的SQL，注意表别名不要重复）
        /*
        dto = getDataAuthFliter(
                dto,                                //实现DataAuthFilter接口的DTO类实例
                getBizTableName(),                  //业务表名
                "a",                                //业务表别名，注意不要与其他JOIN的表别名重复
                "ORG_ID",                           //业务表【机构ID】字段名
                "CREATE_USER_ID",                   //业务表【用户ID】字段名
                "T_SYS_ORG",                        //机构表名
                "da",                               //机构表别名，注意不要与其他JOIN的表别名重复
                "ORG_ID",                           //机构表【机构ID】字段名
                "ORG_LEVEL_CODE"                    //机构表【机构层次代码】字段名
        );
        log.debug("dataAuthJoinSql=\n{}", dto.getDataAuthJoinSql());
        log.debug("dataAuthFilterSql=\n{}", dto.getDataAuthFilterSql());
        */

        List<${table.entityName}Vo> list = this.getBaseMapper().get${table.entityName}List(dto);
        if (!list.isEmpty()) {
            return list.get(0);
        }
        return null;
    }

}